<h1>Create a Comic Book Page!</h1>

<form action="/comic_books" method="post">
    <p>Title: <input type="text" name="title" id="title"></p>
    <p>Description: <input type="text" name="description" id="description"></p>
    <input type="submit" value="Create Comic Book">
</form>