<h1>All Authors</h1>

<br /><br />

<% @authors.each do |author| %>
    <div class="display-box">
        <%= author.name %>
        <ul>
            <% author.comic_books.each do |cb| %>
                <li><a href="/comic_books/<%= cb.id %>"><%= cb.title %></a></li>
            <% end %>
        </ul>
    </div>
<% end %>