<h1>Welcome, <%=@user.username%>!</h1>

<h3>Your Reviews:</h3>

<div class="display-box">
    <% @user.reviews.each do |review| %>
        <div class="reviews-box">
            <h5><%= review.comic_book.title %>:</h5>
            <h5><%= review.rating %> stars</h5>
            <p><%= review.content %></p>
        </div>
    <% end %>
</div>
