<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/master.css">
</head>

<body>
    <ul class="top-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/comic_books">All Comic Books</a></li>
        <li><a href="/comic_books/new">Add a Comic Book</a></li>
        <li><a href="/authors">Authors</a></li>
        <li><a href="/genres">Genres</a></li>
        <% if session[:user_id].nil? %>
            <li class="right"><a href="/signup">Sign Up</a></li>
            <li class="right"><a href="/login">Log In</a></li>
        <% else %>
            <li class="right"><a href="/logout">Log Out</a></li>        
            <li class="right"><a href="/users/<%= session[:user_id] %>">Your Profile</a></li>
        <% end %>
    </ul>
    <%= yield %>
</body>